<p id="notice"><%= notice %></p>



<div class="container">
  <h1 class="text-center">Orders</h1>
  <div class="row">

    <div class="container col-md-9 ">
      <div class="table-responsive" data-pattern="priority-columns">
        <table class="table table-hover" id="users" >
          <thead class="thead-dark">
            <tr>
              <th>Number</th>
              <th data-priority="1">State</th>
              <th data-priority="2">Total</th>
              <th data-priority="3">Date</th>
              <th data-priority="4">Time</th>
              <th data-priority="5">Options</th>
            </tr>
          </thead>

          <tbody>
            <% @orders.each do |order| %>
            <tr>
              <td><%= order.id  %></td>
              <td><%= order.state  %></td>
              <td><%= number_to_currency order.compute_total %></td>
              <td><%= order.created_at.strftime("%Y-%m-%d") %>
                <td><%= time_ago_in_words order.created_at %></td></td>
                <td><%= link_to 'Details', order %></td>
              </tr>
              <% end %>
            </tbody>
          </table>

          <br>
