<%= form_with(model: company, local: true) do |form| %>
  <% if company.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(company.errors.count, "error") %> prohibited this company from being saved:</h2>

      <ul>
      <% company.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<%= form_for @company do |f| %>

  <div class="form-group">
    <%= f.label :name , 'Name Company'%>
    <%= f.text_field :name%>
  </div>

  <%= f.fields_for :users, @users do |form| %>

    <%= form.label :firstname, 'First Name' %>
    <%= form.text_field :firstname%>

    <%= form.label :lastname, 'Last Name' %>
    <%= form.text_field :lastname%>

    <%= form.label :role, 'Role' %>
    <%= form.text_field :role%>

    <%= form.label :email, 'Email' %>
    <%= form.email_field :email%>

    <%= form.label :password, 'Password'%>
    <%= form.password_field :password%>

    <%= form.label :password_confirmation, 'Password Confirmation' %>
    <%= form.password_field :password_confirmation%>

  <% end %>

  <div class="actions mt-3">
    <%= form.submit %>
  </div>
  <% end %>
<% end %>
