<%= form_with(model: product, local: true) do |form| %>
  <% if product.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(product.errors.count, "error") %> prohibited this product from being saved:</h2>

      <ul>
      <% product.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :sku %>
    <%= form.text_field :sku %>
  </div>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_area :description %>
  </div>

  <div class="field">
    <%= form.label :stock %>
    <%= form.number_field :stock %>
  </div>

  <div class="field">
    <%= form.label :categories %>
        <%= form.collection_check_boxes(:category_ids, Category.where(company_id: current_user.company_id), :id, :name) do |b| %>
        <%= b.label class:"label-checkbox" do %>
            <%= b.check_box + b.text%>
        <% end %>
    <% end %>
  </div>

  <%= form.fields_for :prices, @products do |f| %>

    <%= f.label :salesprice, 'Sales Price' %>
    <%= f.number_field :salesprice%>

    <%= f.label :pricecost, 'Price Cost ' %>
    <%= f.number_field :pricecost%>

  <% end %>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
